<ion-header>
  <ion-toolbar>
    <ion-title>
      Registrasi Angkutan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-card class="welcome-card bg-content">
      <ion-card-header>
        <ion-card-title color="primary">Registrasi Angkutan</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Silahkan isi form dibawah ini untuk pendataan Angkutan!</p>

        <ion-list>
          <ion-item>
            <ion-label position="floating">Nama Lengkap Supir</ion-label>
            <ion-input type="text" [(ngModel)]="nama_supir"></ion-input>
          </ion-item>
        
            <ion-item>
              <ion-label position="floating">Nomor Hp/WA</ion-label>
              <ion-input type="text"[(ngModel)]="nohp"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="floating">Alamat</ion-label>
            <ion-input type="text"[(ngModel)]="alamat"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Nomor Polisi</ion-label>
            <ion-input type="text"[(ngModel)]="nopol"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Tahun Mobil</ion-label>
            <ion-select [(ngModel)]="tahun_mobil" class="popover-content" placeholder="Pilih Tahun Mobil Sesuai STNK">
              <ion-select-option value="2021">2021</ion-select-option>
              <ion-select-option value="2020">2020</ion-select-option>
              <ion-select-option value="2019">2019</ion-select-option>
              <ion-select-option value="2018">2018</ion-select-option>
              <ion-select-option value="2017">2017</ion-select-option>
              <ion-select-option value="2016">2016</ion-select-option>
              <ion-select-option value="2015">2015</ion-select-option>
              <ion-select-option value="2014">2014</ion-select-option>
              <ion-select-option value="2013">2013</ion-select-option>
              <ion-select-option value="2012">2012</ion-select-option>
              <ion-select-option value="2011">2011</ion-select-option>
              <ion-select-option value="2010">2010</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>

        <div padding>
          <ion-button expand="block" color="primary" size="medium" (click)="addRegister()"><ion-icon name="trending-up-outline">
          </ion-icon>
        Daftar
        </ion-button>
        </div>

      </ion-card-content>
    </ion-card>
</ion-content>
