<ion-header>
  <ion-toolbar>
    <ion-title>
      PT KAMA TRANSPORT
    </ion-title>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card bg-content">
    <ion-card-header>
      <ion-card-title color="primary">Aplikasi Pendataan Angkutan Kama Transport</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Selamat Datang<br>
        Aplikasi ini digunakan untuk pendataan angkutan Kama Transport</p>
        
    </ion-card-content>
  </ion-card>
  </ion-content>
  

